@{
    ViewData["Title"] = "AV1";
}

<div style="display: flex; margin-top: 100px;" id="Primary_Container">
    <div style="width: 40%; margin-left: 10%; margin-rigth: 10%;" id="Text_Area">
        <p style="font-size: 35px;font-weight: 600; font-family: arial;" id="Title">
            Nós estamos aqui para resolver seus problemas, cuidar da sua tecnologia
        </p>
        <p id="T_Propaganda">
            se a sua empresa tem problemas com computadore,
             impresoras, infra estrutura, ou rede, deixe seu problema com agente. 
        </p>
        <button  style="background-color: rgb(83, 83, 201); width: 150px; border: none;">Contato</button>
    </div>
    <div style="width: 40%;" id="Img_Container">
            <img style="width: 500px;" src='https://media.istockphoto.com/id/1146854142/pt/foto/support-button-on-computer-keyboard.jpg?s=612x612&w=0&k=20&c=--Ddqww8lxJrtwCXrE5NCj7UJclnk8YJz6Zy1bxI4yA=' alt="help Desk">
        </div>
</div>
