@{
    ViewData["Title"] = "Developed By";
}
<div style="display: flex; margin-top: 60px;">
    <div>
        <p>Olá, me chamo</p>
    <h1>João Micheletti</h1>
    <p>
        nascido em 1998.
        apaixonado por tecnologia
        trabalhando atualmente no setor de
        logística. cursando Tecnologia
        em analise e desenvolvimento de
        sistemas Buscando uma oportunidade
        para ingressar no setor tecnológico
        na área de desenvolvimento. 
    </p>
    </div>
    
    <div style="width: 40%;" id="Img_Container">
            <img style="width: 500px;" src='https://raw.githubusercontent.com/joaoMicheletti/sos_helpDesk/fdc92fb249e5f981baa15e8dcecefd77df2b9909/Img/Working-amico.svg' alt="help Desk">
    </div>
    
</div>
<h3>Conheça mais do meu Trabalho</h3>
<a  target="_blank" href="http://github.com/joaoMicheletti">Repositório Github</a
